.model-selector {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: #2d2d2d;
  color: #2d2d2d;
  border: none;
}

.model-selector .ant-select {
  min-width: 180px !important;
  max-width: 220px !important;
  background-color: #2d2d2d !important;
  color: #edeae8 !important;
  border: none !important;
}

.model-selector .ant-select:focus .ant-select:hover {
  min-width: 180px !important;
  max-width: 220px !important;
  background-color: #2d2d2d !important;
  color: #edeae8 !important;
  border-radius: 100px !important;
  border-color: #9aa0a6 !important;
}

.model-selector .ant-select-content-value {
  color: #edeae8 !important;
}

.model-selector .ant-select-arrow {
  color: #9aa0a6 !important;
}

.model-selector .ant-select-selection-item {
  color: #edeae8 !important;
  line-height: 38px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
